{
  "presets": [
    "@babel/preset-env",
    ["@babel/react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "plugins": [["@babel/plugin-transform-runtime"], ["inline-react-svg"]],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", { "targets": { "node": "current" } }]]
    }
  }
}
