:root {
  --color-main: #ffffff;
  --color-main-dark: #cecece;
  --color-main-darker: #a2a0a0;

  --color-primary: #cfbbcb;
  --color-primary-light: #e5dfe4;
  --color-primary-dark: #ae8ca7;
  --color-primary-darker: #99658f;

  --color-secondary: #dae9d2;
  --color-tertiary: #fffde6;
}
