@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 710px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 420px) {
}
