@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 920px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 710px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 540px) {
  html {
  }
}

/* to check: seeing breakpoints in browser */
